* {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	zoom: 1.05; 
    -moz-transform: scale(1.05); 
    -moz-transform-origin: 0 0;
}

span {
    display: block;
    color: red;
}

input[type=text], input[type=number], input[type=password] {
	width: 40% !important;
}